link(href="/css/chatting.css", rel="stylesheet")
.chatting
	.row.m-0.chatting-header
		img.img-responsive.center-block(src="/images/profile.png", alt="profile" style="width:28px; height:28px;")
		h4.my-nick-name 비회원
	.row.m-0
		.chatting-option-btn
			button(style="width:100%;").btn-sm.btn-dark.all-chatting 채팅 내용 초기화
	.left-navigation#msgcontainer
		ul.list#msgs
	.footer
		input#msgbox(type="text")
		button.btn.btn-dark#msgenter 입력
