extends layout
block content
	#main
		.col-lg-12.col-md-12.col-sm-12.col-12
			//desktop tooltips
			.row
				button.col-lg-1.col-md-1.col-sm-3.col-3.btn-xs.btn-dark#changeMode(onclick="changeModeToNavigatingMode()")
					span.fa.fa-mouse-pointer
					|  (S)
				button.col-lg-1.col-md-1.col-sm-3.col-3.btn-xs.btn-dark#pencilStyle(onclick="changeModeToDrawingMode()")
					span.fa.fa-paint-brush
					|  (D)
				div.col-lg-1.col-md-1.col-sm-3.col-3.btn-xs.btn-dark.color-picker-btn(onclick="getElementById('drawing-color').click()")
					input.color-input(value="#000000")
				div.col-lg-1.col-md-1.col-sm-3.col-3.btn-xs.btn-dark#remote-control-btn(style="padding-top:5px")
					.btn-block#drawing-line-width
				button.col-lg-1.col-md-2.col-sm-3.col-6.btn-md.btn-dark#undo-button(onclick="unDo()")
					span.fa.fa-undo
					|  (Ctrl+Z)
				button.col-lg-1.col-md-2.col-sm-3.col-6.btn-md.btn-dark#map-toggle 지도 (M)
				button.col-lg-1.col-md-2.col-sm-3.col-6.btn-md.btn-dark#chatting-btn(value="off") 채팅창 (C)
				button.col-lg-1.col-md-2.col-sm-3.col-6.btn-md.btn-dark(onclick="location.href='https://github.com/JuhoKang/bigpicture-light'") GitHub
				.col-lg-4.col-md-12.col-sm-12.alert.alert-secondary.btn-block#infotext(style='margin-bottom:0rem; margin-top:0rem; padding:0 0 0 5px') 환영합니다!
			.row
				.col-lg-12
					.row#canvas-container-div
						#map-container
							canvas#map
						canvas#c
		#sidebar
			include chatting
	script(type="text/javascript" src="/scripts/nouislider/distribute/nouislider.min.js")
	script(type="text/javascript" src="/vendor/huebee/huebee.pkgd.min.js")
	script(type="text/javascript" src="/vendor/fabric/fabric.min.js")
	script(type="text/javascript" src="/javascripts/fabric-paint-view.js")
	script(type="text/javascript" src="/javascripts/map-view.js")
	script(type='text/javascript' src="/javascripts/chatting.js")
	script(type='text/javascript' src="/javascripts/shotcuts.js")