extends layout
block content
	#main
		.col-lg-12.col-md-12.col-sm-12.col-12
			//desktop tooltips
			.row
				button.col-lg-1.col-md-1.col-sm-3.col-3.btn-xs.btn-dark.white-space-nowrap#changeMode(onclick="changeModeToNavigatingMode()" title="Drag Mode")
					span.fa.fa-mouse-pointer
					|  (S)
				button.col-lg-1.col-md-1.col-sm-3.col-3.btn-xs.btn-dark.white-space-nowrap#pencilStyle(onclick="changeModeToDrawingMode()" title="Draw Mode")
					span.fa.fa-paint-brush
					|  (D)
				div.col-lg-1.col-md-1.col-sm-3.col-3.btn-xs.btn-dark.color-picker-btn
					input.color-input(value="#000000" title="Color Picker")
				div.col-lg-1.col-md-1.col-sm-3.col-3.btn-xs.btn-dark#remote-control-btn(style="padding-top:5px")
					.btn-block#drawing-line-width(title="Drawing Line Width")
				button.col-lg-1.col-md-2.col-sm-3.col-6.btn-md.btn-dark.white-space-nowrap#undo-button(onclick="unDo()" title="Undo")
					span.fa.fa-undo
					|  (Ctrl+Z)
				button.col-lg-1.col-md-2.col-sm-3.col-6.btn-md.btn-dark.white-space-nowrap#map-toggle(title="Map")
					span.fa.fa-map-marker
					|  (M)
				button.col-lg-1.col-md-2.col-sm-3.col-6.btn-md.btn-dark.white-space-nowrap#chatting-btn(value="off" title="Online Chat") 
					span.fa.fa-comments
					|  (R) 
					span.chatting-count.d-none 0
				//- button.col-lg-1.col-md-2.col-sm-3.col-6.btn-md.btn-dark.white-space-nowrap(onclick="location.href="https://github.com/JuhoKang/bigpicture-light"") GitHub
				button.col-lg-1.col-md-2.col-sm-3.col-6.btn-md.btn-dark.white-space-nowrap#cropper(title="Cropper")
					span.fa.fa-crop
					|  (C)
				.col-lg-4.col-md-12.col-sm-12.alert.alert-secondary.btn-block#infotext(style="margin-bottom:0rem; margin-top:0rem; padding:0 0 0 5px") 환영합니다!
			.row
				.col-lg-12
					.row#canvas-container-div
						#map-container
							canvas#map
						canvas#c
		.zoom-button-container
			button.btn-dark.m-1.zoomin-btn(title="Zoom In")
				span.fa.fa-search-plus
			button.btn-dark.m-1.zoomout-btn(title="Zoom Out")
				span.fa.fa-search-minus
		#cropper-bottom
			button.col-lg-2.col-md-2.col-sm-2.col-6.btn-md.btn-dark#cropper-zoomIn 확대
			button.col-lg-2.col-md-2.col-sm-2.col-6.btn-md.btn-dark#cropper-zoomOut 축소
			button.col-lg-2.col-md-2.col-sm-2.col-6.btn-md.btn-dark#cropper-rotateLeft 
				span.fa.fa-rotate-left
			button.col-lg-2.col-md-2.col-sm-2.col-6.btn-md.btn-dark#cropper-rotateRight
				span.fa.fa-rotate-right
			button.col-lg-2.col-md-2.col-sm-2.col-6.btn-md.btn-dark#cropper-capture 저장
			button.col-lg-2.col-md-2.col-sm-2.col-6.btn-md.btn-dark(onclick="document.getElementById('cropper').click()") 취소
		#sidebar
			include chatting
	script(type="text/javascript" src="/scripts/rx/dist/rx.all.min.js")
	script(type="text/javascript" src="/scripts/nouislider/distribute/nouislider.min.js")
	script(type="text/javascript" src="/vendor/huebee/huebee.pkgd.min.js")
	script(type="text/javascript" src="/vendor/fabric/fabric.min.js")
	script(type="text/javascript" src="/javascripts/vector-paint-view.js")
	script(type="text/javascript" src="/javascripts/map-view.js")
	script(type="text/javascript" src="/javascripts/chatting.js")
	script(type="text/javascript" src="/javascripts/shortcuts.js")
	script(type="text/javascript" src="/cropper/cropper.min.js")
	script(type="text/javascript" src="/javascripts/cropper.js")
