doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    // mobile
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no, shrink-to-fit=no')
    // CSS
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet' href='/scripts/nouislider/distribute/nouislider.min.css')
    link(rel='stylesheet' href='/vendor/huebee/huebee.min.css')
    link(rel='stylesheet' href='/scripts/animate.css/animate.min.css')
    link(rel='stylesheet' href='/css/style.css')
    script(type="text/javascript" src="/scripts/socket.io-client/dist/socket.io.slim.js")
    script(type="text/javascript" src='/vendor/jquery/jquery.min.js')
    script(type="text/javascript" src='/vendor/popper/popper.min.js')
    script(type="text/javascript" src='/vendor/bootstrap/js/bootstrap.min.js')
  body
    block header
      .modal#init-modal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-md
          .modal-content
            .modal-header
              h3 BigPicture
            .modal-body
              .form-group
                input(type="text" placeholder="Nickname")#nickname.form-control
            .modal-footer
              input(type="button" value="Play")#play.btn.btn-block.btn-dark
    block content