.chatting {
	margin: 0;
	background: #fff;
	opacity: 0.8;
	/* Standard syntax */
	padding: 0px;
	min-height: 100%;
}
.list {
	color: #222;
	list-style: none;
	padding-left: 0px;
}
.list::first-line {
	color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
	padding: 5px 0px 5px 40px;
}
.chatting-header{
	background-color:#fff;
	padding-bottom:10px;
	height:28px;
}
.chatting-header>img {
	margin: 3px 0 0 1px;
	padding: 3px;
	border: 3px solid white;
	border-radius: 100%;
}
.chatting-header>h4 {
	margin-top: 5px;
	font-size: 20px;
}
.chatting-option-btn{
	margin: 1px;
	width: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
}
.chattingbox{
	display:inline-block;
	padding: 5px 15px 5px 10px;
	background-color: #222;
	color: #fff;
	border-radius: 5px;
}
.chattinglist{
	list-style-type:none;
	margin-left:-20px;
}
.my-chattinglist{
	background-color: #fff;
	list-style-type:none;
	text-align: right;
	margin-right: 13px;
}
.footer{
	padding: 3px;
	width: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	height: 43px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.footer>input{
	width: calc( 81% - 35px );
}
.btn-enter{
	margin-left: 3px;
	width: 18%;
}
.btn-plus{
	width: 30px;
	height: 30px;
	margin-right: 3px;
	padding: 5px;
}
#msgcontainer{
	height: calc(100% - 104px);
	width: 100%;
	position: absolute;
	overflow-y: auto;
}
#msgs{
	display: block;
	word-break: break-all;
}
.chat-upload-img{
	width: 150px;
	height: 150px;
	background-color: #fff;
}
.img-preview{
	display: none;
	position: absolute;
	bottom: 35px;
	margin: 3px;
	padding: 5px;
	background-color: #000;
}