body, html {
  width: 100%;
  height: 100%;
  /*prevent default scrolling*/
  overflow : hidden;
}
body, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
#main {
  padding: 0;
  width: 100%;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}

canvas {
  border: 1px solid #000;
  margin: auto;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  position:absolute;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
#drag-1 {
  width: 15%;
  height: initial;
  min-height: 6.5em;
  margin: 10%;

  background-color: #29e;
  color: white;

  border-radius: 0.75em;
  padding: 2%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

@media only screen and (max-width: 479px){
    #drag-1 { width: 70%; }
}

@media only screen and (min-width:479px) and (max-width:1024px){
    #drag-1 { width: 35%; }
}
@media only screen and (min-width:1024px) and (max-width:1600px){
    #drag-1 { width: 25%; }
}
#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}

#map-container {
  width: 150px;
  height: 150px;
  z-index: 900;
  position: fixed;
}
#map {
  
}
@media ( max-width: 576px ) {
  #sidebar{
    position: absolute;
    top: 117.5px;
    right:0px;
    z-index:1000;
    width:0px;
    height:calc(100% - 117.5px);
  }
}
@media ( min-width: 576px ) {
	#sidebar{
    position: absolute;
    top: 87.5px;
    right:0px;
    z-index:1000;
    width:0px;
    height:calc(100% - 87.5px);
  }
}
@media ( min-width: 768px ) {
	#sidebar{
    position: absolute;
    top: 57.5px;
    right:0px;
    z-index:1000;
    width:0px;
    height:calc(100% - 57.5px);
  }
}
@media ( min-width: 992px ) {
	#sidebar{
    position: absolute;
    top: 31.5px;
    right:0px;
    z-index:1000;
    width:0px;
    height:calc(100% - 31.5px);
  }
}
.color-picker-btn{
  padding:0;
}
.color-picker-btn > input {
  width:100%;
  height:100%;
  padding: 0;
  border: 0;
}

#cropper-bottom{
  position: absolute;
  display: none;
  bottom: 0px;
  width: 100%;
}
.white-space-nowrap{
	white-space: nowrap;
}
.zoom-button-container{
	position: absolute;
	bottom: 15px;
	left: 15px;
}
.chatting-count{
	display: inline-block;
	background-color: #3FB8AF;
	border-radius: 50%;
    padding: 0 5px 3px 5px;
    line-height: 1em;
    text-align: center;
}
