body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

canvas {
  border: 1px solid #000;
  margin: auto;
}

.left-margin{
  margin-left: 10px;
}